.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin: 0 auto;
  width: 640px;
  min-height: 100vh;
}

.list-item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
